/*
  DIAGNOSTIC STYLING
*/

/* Your Awesome Scripts */

/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */

/* Doodle Stage */

#stage {
/*fixed sizes*/
  height: 300px;
  width: 600px;
  position:relative;
  overflow:hidden;
}

  /* skyline */
  .skyline {
    position:absolute;
    top:23px;
    transform: scale(1.03);
  }
  
  /* building lights  */
  .lights {
    position:absolute;
    top:162px;
    left:118.3px;
    max-width:68%;
  }
  
  /* ferris wheel */
  
  
  /* cruise ship */
  .cruise {
   position:absolute;
   top:196px;
   right:400px;
   max-width:60%;
  }
  /* sail boats */
  .sail {
   position:absolute;
    top:267px;
    left:240px;
    max-width:8%;
  
  }
  .sail2 {
   position:absolute; 
    max-width:8%;
    top:275px;
    left:450px;
  }

  /* Hover */
  #boatshover:hover {
    animation:slideOutRight 12s;
  }

  /* Airpalne */
  .airplane {
    position: absolute;
    bottom:100px;
    left:435px;
  }